<h1>Coupon code generator</h1>

<h2>1. I want to create a campaign and generate coupon codes for it.</h2>

<%= form_for(campaign) do |f| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
        <% campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<h2>2. I just want one-off random coupon codes.</h2>

<p>Randomly generated <%= codes.count %> codes:</p>

<% codes.each do |code| %>
<code><%= code %></code>
<% end %>

<hr/>

<p>Powered by <%= link_to 'coupon-code gem', 'https://rubygems.org/gems/coupon_code' %></p>
